/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (max-width: 844px) {
  .home__share-box {
    margin-top: -20%;
  }
}

.tabs {
  position: relative;
}

.active-tabs {
  background: rgb(92, 121, 218);
  border: none;
}
.tabss {
  position: relative;
  border: none;
  
  
}

.active-tabss {
  /* background: rgb(92, 121, 218); */
  border-bottom: 2px solid white;
  
}

.content {
  display: none;
}

.active-content {
  display: block;
}

/* Style the buttons */
.inav {
  color: #666 !important;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.inav:hover {
  color: rgb(92, 121, 218) !important;
}
